<style>
.home
{
   height: 20px; 
}
.facebook
{
    height: 20px;
}
.home
{
    height: 20px;   
}
.whatsapp
{
    height: 20px;
}
.youtube
{
    height: 20px;
}
.telegram
{
    height: 20px;  
}
.tiktok
{
    height: 20px;
}
.body
{
  background-color: rgb(247, 7, 99); 

}
.klb
{
background-color: black;
color: white;
}
.a
{
color: red;
}

</style>